
<ion-view title="Search" hide-nav-bar="true" class="board-container">
  <ion-content>
      <div ng-controller="SearchCtrl">
        <div class="row menu-search-bar persistent">
          <div id="search-bar" class="search-bar">
            <input autofocus id="searchForTile" type="text" ng-model="searchForTile" ng-change="findMatchingTiles()">
          </div>

          <div class="search-controls">
              <button class="button circle button-clearsearch" ng-disabled="searchForTile.length == 0"
                      ng-click="clearButtonClicked($event);"><i class="icon ion-close-round"></i></button>
          </div>

        </div>



        <div class="row main-container">

          <div class="list search-results">

            <div ng-repeat="match in matchedTiles">

                  <div class="list-item" ng-click="matchedTileClicked($index)">
                    <span class="tile">
                      <span class="tile-image"><img src="img/symbols/{{match.tile.icon}}" /></span>
                    </span>
                    <span class="tile-name">{{match.tile.name}}</span>
                  </div>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>




