
<ion-view title="Search" hide-nav-bar="true" class="board-container">
  <ion-content>
    <div class="row menu-search-bar persistent">
      <div id="search-bar" class="search-bar">
        <input type="text" name="keyword">
      </div>

      <div class="search-controls">
          <button class="button circle button-clearsearch" ng-disabled="keyword.length == 0"
                  ng-click="clearButtonClicked();"><i class="icon ion-close-round"></i></button>
      </div>

    </div>

    <div class="row main-container">
        results go here
    </div>
  </ion-content>
</ion-view>




