<ion-view title="Wordlists" hide-nav-bar="true" class="board-container">
  <ion-content>
    <div class="row menu-speech-bar persistant">
      <div class="profile-button">
        <a class="aac-user"><img src="img/user-fpo.png" border="0"></a>
        <span class="aac-user-name">Malcolm</span>
      </div>
      <div class="speech-balloon">
      </div>
      <div class="speech-controls">
        <button class="button button-delete"><i class="icon ion-close-round"></i></button>
        <button class="button circle button-speak"><i class="icon ion-checkmark-round"></i></button>
      </div>
    </div>
    <div class="sidebar menu-wow persistant">
      <ul>
        <li class="tile">Wow One</li>
        <li class="tile">Wow Two</li>
        <li class="tile">Wow Three</li>
        <li class="tile">Wow Four</li>
      </ul>
      <div class="button menu-start-over misc-control"><i class="icon ion-home"></i></div>
    </div>

    <div class="row main-container">
      <div class="col col-80 board">
      <ion-list>
        <ion-item class="tile {{wordlist.type}}" ng-repeat="wordlist in wordlists" href="#/app/wordlists/{{wordlist.target}}" ng-if="wordlist.target">
          <span><i class="icon {{wordlist.icon}}"></i></span>
          <span>{{wordlist.name}}</span>
        </ion-item>

        <ion-item class="tile {{wordlist.type}}" ng-repeat="wordlist in wordlists" ng-if="!wordlist.target">
          <span><i class="icon {{wordlist.icon}}"></i></span>
          <span>{{wordlist.name}}</span>
        </ion-item>

      </ion-list>
    </div>
    </div>
    <div class="sidebar menu-comment persistant">
      <ul>
        <li class="tile">Yes</li>
        <li class="tile">No</li>
        <li class="tile">One Moment Please</li>
        <li class="tile">Help!</li>
      </ul>
      <div class="button menu-alert misc-control"><i class="icon ion-ios7-bell"></i></div>
    </div>
  </ion-content>
</ion-view>




