/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


/***
    Custom app styles go below
*/

// Include Source Sans Pro from Google
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);

body {
    font-family: 'Source Sans Pro';
}


input, button, select, textarea {
    font-family: 'Source Sans Pro';
}
.pane, .view {
    top: 55px;
    background-color: #6FC9CB;
}

.placeholder {
    background-color: yellow;
}
.placeholder-2 {
    background-color: blue;
}


/* Persistant Class for permenant shell items */

.persistant {
    position: absolute;
    z-index: 999;
}


/* Permenant Speech Bar */

.menu-speech-bar {
    background-color: white;
    top: 44px;
    left: 0;
    right: 0;
    height: 100px;
}

/* Permenant Right Sidebar */

.menu-comment {
    background-color: rgba(0,0,0,0.2);
    top: 144px;
    right: 0;
    bottom: 0;
}

/* Permenant Start Over Button */

.menu-start-over {
    left: 0;
    bottom: 0;
}

/* Boards */

.board .list {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
}


.item {
    background-color: transparent;
    border: none;
    padding: 0;
}
    .tile {
        background-color: #fff;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        text-align: center;
        margin-right: 10px;
        margin-bottom: 10px;
    }

