/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:


$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


/***
    Custom app styles go below
*/

// Dev needs. Remove on Master


.placeholder {
    background-color: yellow;
}
.placeholder-2 {
    background-color: blue;
}

// Include Source Sans Pro from Google
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);

body {
    font-family: 'Source Sans Pro';
}

/* AAC App Resets
*/

input, button, select, textarea {
    font-family: 'Source Sans Pro';
}


.item-complex .item-content {
    background-color: transparent;
    padding: 0;
}
.pane, .view {
    background-color: transparent;
}


/* Persistant Class for permenant shell items */

.persistent {
    position: absolute;
    z-index: 9;
}
.circle {
    @include border-radius(100px);
}


/**
    Global Header
    */

.bar-header a.button {
    margin-right: 5px;
}
    .bar-header .secondary {
        position: absolute;
        top: 5px;
        right: 0px;
        bottom: 5px;
    }


/**
    Main Application Area
    */

.main-container {
    background-color: #6FC9CB;
}

/* Permenant Speech Bar */

.menu-speech-bar {
    top: 44px;
    left: 0;
    right: 0;
    height: 100px;
    .profile-button {
        z-index: -1;
        .button {
            background-color: #000;
            color: #fff;
            border: none;
        }
    }
    .assembly-bar {
        background-color: #fff;
        @include border-radius(9px);
        margin-top: 8px;
        margin-right: 30px;
        width: 100%;
        padding: 4.5px;
        overflow: hidden;
        text-overflow: clip ellipsis;
    }
        .tile {
        height: 60px;
        width: 60px;
        display: inline-block;
        border: 1px solid #666;
        background: #eee;
        overflow: hidden;
        font-size: 0.93em;
        float: left;
        }

    .speech-controls {
        height: 78px;
        position: absolute;
        right: 10px;
        .button {
            margin-left: 20px;
        }
    }
    .button {
        height: 100px;
        width: 100px;
    }

}

/* Permenant WoW Bar */

.menu-wow {
    padding-top: 128px;
    border-right: 1px solid #fff;
    top: 44px;
    padding-top: 128px;
    bottom: 0;
    padding-left: 10px;
}

/* Permenant Right Sidebar */

.menu-comment {
    background-color: rgba(0,0,0,0.2);
    top: 44px;
    right: 0;
    bottom: 0;
    padding-top: 128px;
    padding-left: 10px;
    z-index: 8;
}

/* Permenant Start Over Button */

.menu-start-over {
    left: 0;
    bottom: 0;
}

/* Boards */
.item {
    background-color: transparent;
    border: none;
    padding: 0;
}
    .tile {
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
        a.item-content {
            width: 100px;
            height: 100px;
            display: table-cell;
            text-align: center;
            vertical-align: bottom;
            overflow: visible;
            white-space: normal;
        }
    }
    .tile.folder {
        color: blue;
    }


.board {
    margin-left: 124px;
    padding-top: 170px;
    width: 794px;
    .list {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-flow: row wrap;
    }
    .tile, a.item-content {
        height: 76px;
        width: 76px;
        text-decoration: none;
    }
}



