/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:


$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


// Layout Variables
$top-margin: 44px;

// Color Variables
$light: #fff;
$dark: #2c2c2c;
$neutral: #b1b1b1;
$primary-color: #6FC9CB;
$secondary-color: #4d8c8d;
$assertive: #c81e21;
$positive: #4d8c8d;



// Typography Variables
$font-stack: 'Source Sans Pro', 'Lucida Grande', Tahoma, Arial, sans-serif;

/***
    Custom app styles go below
*/

// Dev needs. Remove on Master


.placeholder {
    background-color: yellow;
}
.placeholder-2 {
    background-color: blue;
}

// Include Source Sans Pro from Google
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);

body {
    font-family: $font-stack;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-stack;
    font-weight: 300;
    }
    h4 {
        border-bottom: 1px solid $primary-color;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

.button.button-assertive {
    background-color: $assertive;
    &.active, &.activated {
        background-color: #AC171A;
    }
}

/* AAC App Resets
*/

input, button, select, textarea {
    font-family: $font-stack;
}


.item-complex .item-content {
    background-color: transparent;
    padding: 0;
}
.pane, .view {
    background-color: transparent;
}


/* Persistant Class for permenant shell items */

.persistent {
    position: absolute;
    z-index: 9;
}
.circle {
    @include border-radius(100px);
}


/**
    Global Header
    */
.bar-global {
    background-color: $dark;
    background-image: none;
    border-bottom: 0;
    a.button {
        margin-right: 5px;
        height: 35px;
        background-color: $dark;
        color: $neutral;
        &.icon-left:before {
            color: $primary-color;
        }
        &.button-positive.active {
            background-color: $dark !important;
            box-shadow: none;
            border-color: white;
            color: white;
            &.icon-left:before {
                color: white;
            }
        }
    }
    .secondary {
        position: absolute;
        top: 5px;
        right: 0px;
        bottom: 5px;
    }
}


/**
    Main Application Area
    */

.main-container {
    background-color: $primary-color;
}



/* Boards */

.item {
    background-color: transparent;
    border: none;
    padding: 0;
}
    .tile {
        background-color: #fff;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
        font-size: 13px;
        font-weight: 600;
        line-height: 1;
        @include box-shadow(rgba(black,0.2) 0 2px 1px);
        position: relative;
        transition: rotate 0.2s;
        .item-content {
            width: 100px;
            height: 100px;
            display: table-cell;
            text-align: center;
            overflow: visible;
            white-space: normal;
            padding: 0;
        }

        &.dragging {
            opacity: 1;
            background-color: #fff;
            -webkit-transform:rotate(-10deg);
            transform:rotate(-10deg);
            z-index: 50;
            margin-top: -5px;
            margin-left: 0;
            width: 90px;
            height: 90px;
        }
        &.will-insert-before {
            background-color: red;
            padding-left: 5px;
            margin-left: 5px;
        }
        .list-item.active &, .list-item.activated &,
        &.active, &.activated, &:focus, &:active {
            top: 1px;
            span {
                opacity: 0.5;
            }
            box-shadow: none;
        }
        span {
            display: block;
            &.tile-image {
                top: 3px;
                img {
                    width: 80px;
                    height: auto;
                }
                z-index: 1;
                position: relative;
            }
            &.tile-name {
                z-index: 2;
                position: absolute;
                bottom: 4px;
                margin: 0 auto;
                text-align: center;
                width: 100%;
                padding: 0 4px;
            }
        }
    }



.board {
    margin-left: 120px;
    padding-top: 170px;
    width: 794px;
    .list {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-flow: row wrap;
    }

    .tile-hidden {
        opacity: 0;
    }

    .tile, .item-content {
        height: 76px;
        width: 76px;
        line-height: 13px;
        text-decoration: none;
        overflow: visible;
        word-wrap: normal;
        white-space: normal;
    }
    .tile .tile-image {
        img {
            width: 52px;
            height: auto;
        }
    }
    a.tile.folder {
        @include box-shadow(rgba(black,0.2) 0 2px 1px, rgba(black,0.3) -4px -4px 0 1px);
        &.active, &.activated, &:focus, &:active {
            top: 1px;
            @include box-shadow(rgba(black,0) 4px -5px 0, rgba(black,0.3) -4px -5px 0 1px);
        }
    }
}

@-webkit-keyframes wiggle {
    from {-webkit-transform: rotateZ(2deg);}
    50% {-webkit-transform: rotateZ(-2deg);}
    to {-webkit-transform: rotateZ(2deg);}
}

@keyframes wiggle {
    from {transform: rotateZ(2deg);}
    50% {transform: rotateZ(-2deg);}
    to {transform: rotateZ(2deg);}
}


@-webkit-keyframes wiggle1 {
    from {-webkit-transform: rotateZ(-2deg);}
    50% {-webkit-transform: rotateZ(2deg);}
    to {-webkit-transform: rotateZ(-2deg);}
}

@keyframes wiggle1 {
    from {transform: rotateZ(-2deg);}
    50% {transform: rotateZ(2deg);}
    to {transform: rotateZ(-2deg);}
}

@-webkit-keyframes wiggle2 {
    from {-webkit-transform: rotateZ(0deg);}
    25% {-webkit-transform: rotateZ(-2deg);}
    50% {-webkit-transform: rotateZ(0deg);}
    to {-webkit-transform: rotateZ(2deg);}
}

@keyframes wiggle {
    from {transform: rotateZ(0deg);}
    25% {transform: rotateZ(-2deg);}
    50% {transform: rotateZ(0deg);}
    to {transform: rotateZ(2deg);}
}


.editMode {



        .tile {
            &:before {
                font-family: "Ionicons";
                content: "\f128";
                color: $assertive;
                z-index: 9;
                top: -2px;
                left: -5px;
                font-size: 22px;
                background-color: #fff;
                display: block;
                @include border-radius(8px);
                width: 20px;
                height: 10px;
                position: absolute;
            }
        }

        .tile-hidden {
            opacity: .35;
            &:before {
                color: $positive;
                font-family: "Ionicons";
                content: "\f120";
                opacity: 1;
            }
            box-shadow: none;
            &:active, &.active, &.activated, &:focus {
                top: 0;
            }
        }

    }

/* Permenant Speech Bar */

.menu-speech-bar {
    top: $top-margin;
    left: 0;
    right: 0;
    z-index: 15;
    position: absolute;
    padding: 8px 0 0 0;
    .profile-button {
        text-align: center;
        margin: 0;
        height: auto;
        display: block;
        width: 120px;
        .aac-user {
            box-sizing: border-box;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: block;
            border: 1px solid $primary-color;
            padding-top: 8px;
            padding-left: 1px;
            height: 110px;
            width: 110px;
            border-radius: 110px;
            img {
                width: 90px;
                height: 90px;
                border-radius: 90px;
                @include box-shadow(rgba(black,0.4) 0 3px 0);
                position: relative;
            }
            &.active, &.activated, &:focus, &:active {
                img {
                    box-shadow: none;
                    top: 2px;
                }
            }
        }
    }
    .assembly-bar {
        background-color: $light;
        @include border-radius(9px);
        margin-top: 10px;
        margin-right: 30px;
        width: 100%;
        padding: 5px;
        text-overflow: clip ellipsis;
        width: 84%;
        position: relative;
        height: 90px;
        &:after {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #fff;
            border-width: 8px;
            margin-top: -8px;
        }
        .speech-tiles {
            padding-top: 5px;
            padding-left: 6px;
            display: block;
            height: 86px;
            overflow: hidden;
            .tile {
                height: 70px;
                width: 70px;
                display: inline-block;
                border: 1px solid #b1b1b1;
                overflow: hidden;
                font-size: 85%;
                float: left;
                box-shadow: none;
                &.active, &.activated, &:focus, &:active,&.dragging {
                    top: 0;
                    border-color: $primary-color;
                    @include box-shadow(rgba(black,0.2) 0 2px 1px);
                    font-size: 13px;
                    width: 76px;
                    height: 76px;
                    margin-top: -5px;
                    margin-right: -4px;
                    z-index: 50;
                    margin-left: -14px;
                    span img {
                        width: 52px;
                        height: auto;
                    }
                }
            }
        }
        .tile-image {
            img {
                width: 45px;
                height: auto;
            }
        }

    }


    .speech-controls {
        height: 78px;
        position: absolute;
        right: 10px;
        .button {
            border: 0;
            color: $light;
            margin-left: 20px;
            i {
                border: 1px solid #fff;
                border-radius: 100px;
                padding: 10px;
            }
        }
        .button-delete {
            background-color: #c81e21;
            padding: 10px 10px 10px 4px;
            margin-top: 24px;
            position: relative;
            z-index: 10;
            @include box-shadow(rgba(black,0.2) 0 2px 0);
            &:after {
                right: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-right-color: #c81e21;
                border-width: 30px;
                margin-top: -30px;
                bottom: 0;
                left: -60px;
            }
            &.active, &.activated {
                top: 2px;
                box-shadow: none;
                background-color: #E52F32;
                &:after {
                    border-right-color: #E52F32;
                }
            }
            &.disabled,
            &[disabled] {
                opacity: 1.0;
                background-color: #9E6869;
                box-shadow: none;
                top: 1px;
                &:after {
                    border-right-color: #9E6869;
                }
                i {
                    opacity: 0.8;
                }
            }

        }
        .button-speak {
            background-color: #66cc66;
            height: 100px;
            width: 100px;
            margin-top: 2px;
            position: relative;
            @include box-shadow(rgba(black,0.3) 0 3px 0);
            i {padding: 25px 18px};
            i.icon:before {font-size: 42px;}
            &.active, &.activated {
                top: 3px;
                box-shadow: none;
                background-color: #83E083;
            }
            &.disabled,
            &[disabled] {
                opacity: 1.0;
                background-color: #7EB07E;
                box-shadow: none;
                top: 3px;
                i {
                    opacity: 0.8;
                }
            }
        }
    }

}

/***
    Sidebars
    */


.sidebar {
    background-color: rgba(0,0,0,0.5);
    top: $top-margin;
    padding-top: 132px;
    bottom: 0;
    width: 120px;

    &.menu-wow {
    }


    &.menu-comment {
        right: 0;
    }
    .tile {
        @include box-shadow(rgba(black,0.9) 0 3px 0);
        height: 110px;
        margin: 0 auto;
        margin-bottom: 10px;
        &.active, &.activated, &:focus, &:active {
            top: 3px;
            box-shadow: none  !important;
        }
    }
}

/* Misc Application Controls */

.misc-control {
    background-color: transparent;
    border: 1px solid $primary-color;
    @include border-radius(100px);
    color: $light;
    margin: 0;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 88px;
    .icon:before {
        font-size: 62px;
        vertical-align: middle;
        color: $light;
        text-shadow: 0 2px 0 rgba(0,0,0,0.9);
        position: relative;
    }
    &.menu-start-over {
        left: 10px;
        bottom: 10px;
        z-index: 10;
        position: absolute;
    }
    &.menu-alert {
        right: 10px;
        bottom: 10px;
        position: absolute;
        .icon:before {
            -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
        }
    }
    &.active, &.activated {
        background-color: rgba(111, 201, 203,0.3);
        border: 1px solid $primary-color;
        box-shadow: none;
        .icon:before {
            text-shadow: none;
            top: 2px;
        }
    }
}




/* Ionic Stuff */

.scroll {
    height: 100%;
}
.list-inset {
    @include border-radius(10px);
    padding: 20px;
    & > .list-inset {
        padding: 0;
        @include border-radius(0);
    }
}


/***
    Modal
    */
.modal {
    @include border-radius(10px);
    .bar-header {
        @include border-top-left-radius(10px);
        @include border-top-right-radius(10px);
    }
    .bar .button.button-clear {
        font-size: 14px;
    }
    .bar .button.button-clear.icon-right:before {
        font-size: 14px;
        margin-top: 1px;
        margin-left: 4px;
    }
    .list {
        .item-content {
            padding: 10px;
            color: $secondary-color;
            &:hover, &:focus {
                color: $primary-color;
            }
        }
    }
}

/***
    Login/Logout Screen
    */

.logout-container,
.login-container {
    background-color: $light;
    @include border-radius(10px);
    padding: 20px;
    width: 80%;
    margin: 40px auto 0 auto;
}
form {
    .item.item-input {
        margin-bottom: 10px;
    }
    .input-label {
        width: 15%;
    }
    button[type="submit"] {
        display: inline-block;
        width: auto;
    }
    input[type="text"], input[type="password"] {
        border: 1px solid $dark;
        @include border-radius(5px);
        padding: 5px;
    }
    .item-get-location input {
        border: none;
        @include border-radius(0);
    }
}


/***
    Search screen
    */

.menu-search-bar {
    top: $top-margin;
    left: 0;
    right: 0;
    z-index: 15;
    position: absolute;
    padding: 8px 0 14px 0;
    background-color: rgba(255,255,255,0.2);
    .search-bar {
        background-color: $light;
        @include border-radius(10px);
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        text-overflow: clip ellipsis;
        width: 84%;
        position: relative;
        height: 60px;
    }

    input[type=text] {
        font-size: 20px;
        line-height: 34px;
        margin-top: 3px;
    }

    .search-controls {
        height: 78px;
        position: absolute;
        right: 10px;
        .button {
            border: 0;
            color: $light;
            margin-left: 20px;
            i {

            }
        }
        .button-clearsearch {
            background-color: #fff;
            min-width: 42px;
            min-height: 42px;
            height: 42px;
            width: 42px;
            border-radius: 42px;
            margin-top: 18px;
            margin-right: 100px;
            position: relative;
            display: block;
            border: 1px solid #aaa;
            box-shadow: none;
            i {
               padding: 0;
               color: #aaa;
               background-color: transparent;
               opacity: 1;
            };
            i.icon:before {font-size: 24px;}
            &.active, &.activated {
                top: 1px;
                background-color: transparent;
            }
            &.disabled,
            &[disabled] {
                opacity: 1.0;
                background-color: #fff;
                box-shadow: none;
                top: 0;
                    opacity: 0.3;

                i {
                }
            }
        }
    }
}

.search-results {
    margin: 150px auto 0;
    width: 84%;

    .list {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-flow: row wrap;
    }

    .list-item {
        margin-bottom: 5px;
        padding: 10px;
        display: block;
        width: 100%;
        height: 74px;
        background-color: rgba(255,255,255,0.3);
        @include border-radius(10px);
        position: relative;
        &.active, &.activated {
            background-color: rgba(255,255,255,0.6);
            top: 2px;
        }
        .tile {
            @include box-shadow(rgba(black,0.2) 0 2px 1px);
            height: 54px;
            width: 54px;
            display: inline-block;
            margin-left: 0;
            margin-bottom: 0;
        }
        .tile-image {
            img {
                padding-top: 3px;
                width: 90%;
                margin: 0 auto;
                height: auto;
            }
        }
        .tile-name {
            display: inline-block;
            height: 54px;
            line-height: 54px;
            vertical-align: top;
            margin-left: 0;
            font-size: 20px;
        }
    }
}
