/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:


$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


// Layout Variables
$top-margin: 44px;

// Color Variables
$light: #fff;
$dark: #2c2c2c;
$neutral: #b1b1b1;
$primary-color: #6FC9CB;



// Typography Variables
$font-stack: 'Source Sans Pro', 'Lucida Grande', Tahoma, Arial, sans-serif;

/***
    Custom app styles go below
*/

// Dev needs. Remove on Master


.placeholder {
    background-color: yellow;
}
.placeholder-2 {
    background-color: blue;
}

// Include Source Sans Pro from Google
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);

body {
    font-family: $font-stack;
}

/* AAC App Resets
*/

input, button, select, textarea {
    font-family: $font-stack;
}


.item-complex .item-content {
    background-color: transparent;
    padding: 0;
}
.pane, .view {
    background-color: transparent;
}


/* Persistant Class for permenant shell items */

.persistant {
    position: absolute;
    z-index: 9;
}
.circle {
    @include border-radius(100px);
}


/**
    Global Header
    */
.bar-global {
    background-color: $dark;
    background-image: none;
    border-bottom: 0;
    a.button {
        margin-right: 5px;
        height: 35px;
        background-color: $dark;
        color: $neutral;
        &.icon-left:before {
            color: $primary-color;
        }
    }
    .secondary {
        position: absolute;
        top: 5px;
        right: 0px;
        bottom: 5px;
    }
}


/**
    Main Application Area
    */

.main-container {
    background-color: $primary-color;
}

/* Permenant Speech Bar */

.menu-speech-bar {
    top: $top-margin;
    left: 0;
    right: 0;
    z-index: 15;
    position: absolute;
    padding: 8px 0 0 0;
    .profile-button {
        text-align: center;
        margin: 0;
        height: auto;
        display: block;
        width: 120px;
        .aac-user {
            box-sizing: border-box;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: block;
            border: 1px solid $primary-color;
            padding-top: 8px;
            padding-left: 1px;
            height: 110px;
            width: 110px;
            border-radius: 110px;
            img {
                width: 90px;
                height: 90px;
                border-radius: 90px;
                @include box-shadow(rgba(black,0.4) 0 3px 0);
                position: relative;
            }
            &.active, &.activated, &:focus, &:active {
                img {
                    box-shadow: none;
                    top: 2px;
                }
            }
        }
        .aac-user-name {
            text-align: center;
            color: $light;
            display: block;
            background-color: #4d8c8d;
            margin: 0 auto;
            margin-top: -10px;
        }
    }
    .speech-balloon {
        background-color: $light;
        @include border-radius(9px);
        margin-top: 12px;
        margin-right: 30px;
        width: 85%;
        position: relative;
        height: 86px;
        &:after {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #fff;
            border-width: 8px;
            margin-top: -8px;
        }
    }
    .speech-controls {
        height: 78px;
        position: absolute;
        right: 10px;
        .button {
            border: 0;
            color: $light;
            margin-left: 20px;
            i {
                border: 1px solid #fff;
                border-radius: 100px;
                padding: 10px;
            }
        }
        .button-delete {
            background-color: #c81e21;
            padding: 10px 10px 10px 4px;
            margin-top: 24px;
            position: relative;
            @include box-shadow(rgba(black,0.2) 0 2px 0);
            &:after {
                right: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-right-color: #c81e21;
                border-width: 30px;
                margin-top: -30px;
                bottom: 0;
                left: -60px;
            }
            &.active, &.activated {
                top: 2px;
                box-shadow: none;
            }

        }
        .button-speak {
            background-color: #66cc66;
            height: 100px;
            width: 100px;
            margin-top: 2px;
            position: relative;
            @include box-shadow(rgba(black,0.3) 0 3px 0);
            i {padding: 25px 18px};
            i.icon:before {font-size: 42px;}
            &.active, &.activated {
                top: 3px;
                box-shadow: none;
            }
        }
    }

}

/***
    Sidebars
    */


.sidebar {

    background-color: #4d8c8d;
    top: $top-margin;
    padding-top: 132px;
    bottom: 0;
    width: 120px;

    &.menu-wow {
    }


    &.menu-comment {
        right: 0;
    }
    .tile {
        @include box-shadow(rgba(black,0.7) 0 2px 0);
        height: 110px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

/* Misc Application Controls */

.misc-control {
    background-color: transparent;
    border: 1px solid $primary-color;
    @include border-radius(100px);
    color: $light;
    margin: 0;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 88px;
    .icon:before {
        font-size: 62px;
        vertical-align: middle;
        color: $light;
        text-shadow: 0 2px 0 rgba(0,0,0,0.9);
        position: relative;
    }
    &.menu-start-over {
        left: 10px;
        bottom: 10px;
        z-index: 10;
        position: absolute;
    }
    &.menu-alert {
        right: 10px;
        bottom: 10px;
        position: absolute;
        .icon:before {
            -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
        }
    }
    &.active, &.activated {
        background-color: transparent;
        border: 1px solid $primary-color;
        box-shadow: none;
        .icon:before {
            text-shadow: none;
            top: 2px;
        }
    }
}




/* Boards */

.item {
    background-color: transparent;
    border: none;
    padding: 0;
}
    .tile {
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
        @include box-shadow(rgba(black,0.2) 0 2px 0);
        position: relative;
        a.item-content {
            width: 100px;
            height: 100px;
            display: table-cell;
            text-align: center;
            vertical-align: bottom;
            overflow: visible;
            white-space: normal;
        }
        &.active, &.activated, &:focus, &:active {
            top: 1px;
            box-shadow: none;
        }
    }
    .tile.folder {
        color: blue;
    }


.board {
    margin-left: 120px;
    padding-top: 170px;
    width: 794px;
    .list {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-flow: row wrap;
    }
    .tile, a.item-content {
        height: 76px;
        width: 76px;
    }
}

/* Stupid Ionic Stuff */

.scroll {
    height: 100%;
}

