<?xml version='1.0' encoding='utf-8'?>
<widget id="com.speakagent.aac" version="0.0.29" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SpeakAgentAAC</name>
    <description>
        An assistive audio controller (AAC)
    </description>
    <author email="shawn@shawnrider.com" href="http://speakagent.com/">
      Speak Agent Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="default" />

    <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>

    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
    </feature>

    <feature name="TtsPlugin">
        <param name="ios-package" value="TtsPlugin" />
    </feature>

    <feature name="UniversalAnalytics">
      <param name="ios-package" value="UniversalAnalyticsPlugin" />
    </feature>

    <feature name="Estimote">
        <param name="ios-package" value="CDVEstimote"/>
    </feature>

    <feature name="Media">
        <param name="ios-package" value="CDVSound" />
    </feature>

    <platform name="ios">
        <preference name="MediaPlaybackRequiresUserAction" value="false"/>
        <preference name="AllowInlineMediaPlayback" value="true"/>
        <preference name="TopActivityIndicator" value="white"/>
        <preference name="SuppressesIncrementalRendering" value="true"/>
     </platform>

</widget>
